/* Arvo Regular */
@font-face {
    font-family: 'Arvo';
    font-weight: 200;
    src: url('/fonts/Arvo-Regular.woff') format('woff'),
         url('/fonts/Arvo-Regular.woff2') format('woff2');
}

/* Arvo Bold */
@font-face {
    font-family: 'Arvo';
    font-weight: 500;
    src: url('/fonts/Arvo-Bold.woff') format('woff'),
         url('/fonts/Arvo-Bold.woff2') format('woff2');
}

/* Arvo Italic */
@font-face {
    font-family: 'Arvo Italic';
    font-weight: 200;
    src: url('/fonts/Arvo-Italic.woff') format('woff'),
         url('/fonts/Arvo-Italic.woff2') format('woff2');
}

/* Arvo Bold Italic */
@font-face {
    font-family: 'Arvo Italic';
    font-weight: 500;
    src: url('/fonts/Arvo-BoldItalic.woff') format('woff'),
         url('/fonts/Arvo-BoldItalic.woff2') format('woff2');
}