@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Exo';
  src: local('Exo'), url(/Exo-VariableFont_wght.ttf) format('truetype');
  font-display: block;
}

body {
  min-height: 100%;
  min-width: 100%;
  position: absolute;

  font-family: Exo;
  color: white;
  background-color: #0b141f;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@media only screen and (max-height: 1100px) {
  .height-limited {
    display: none;
  }
}