.modalTile {
  width: full;
  padding: 1rem;
  background: #1f2937;

  border: #4b5563 solid 1px;
  border-radius: 0.75rem;

  text-align: center;
  cursor: pointer;
}

.modalTile:hover {
  border-color: #81e5d9;
}

.modalPortal {
  position: absolute;
  top: 2.5rem;
  width: 1280px;

  left: calc(50vw - 1280px/2);

  padding: 4rem;

  max-height: calc(100vh - 4rem);
  height: auto;
  border-radius: 0.75rem;

  z-index: 20;

  background-color: #1f2937;
  overflow-y: scroll;
}

.modalOverlay {
  background-color: transparent;
}

.modalThumbnail {
  margin-bottom: 1rem;
  height: 15rem;

  border: #4b5563 solid 1px;
  border-radius: 0.375rem;
}

.modalContent {
  max-width: 1280px;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  flex-direction: start;
  gap: 1rem;

  letter-spacing: 0.02em;
}

.modalExit {
  position: fixed;
  top: 3.5rem;
  right: calc(50vw - 1280px/2 + 2rem);
  
  cursor: pointer;
}

.modalExitIcon {
  color: #81e5d9;
}

.modalExitIcon:hover {
  color: white;
}

@media only screen and (max-width: 640px) {
  .modalPortal {
    max-height: calc(100vh - 10.5rem);
    padding: 1rem;
  }

  .modalExit {
    top: auto !important;
    right: auto !important;
    
    bottom: 1rem;
    left: 2rem;
    width: calc(100vw - 4rem);

    text-align: center;

    border: #81e5d9 solid 1px;
    border-radius: 0.75rem;
    background-color: #1f2937;
  }

  .modalImage {
    max-width: 100% !important;
  }
}

@media (max-width: 1344px) {
  .modalPortal {
    --width: calc(100vw - 64px);
    width: var(--width);
    left: calc(50vw - var(--width)/2);
  }
  .modalExit {
    right: 4rem;
  }
}

.ReactModal__Overlay {
  z-index: 30;
  height: calc(100vh + 50px);

  transform: translateY(-50px);
  transition: all 0.2s ease-in-out;
  background-color: transparent !important;
}

.ReactModal__Overlay--after-open {
  transform: translateX(0px);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.modalImage {
  max-width: 60%;
  max-height: 24rem;
  margin: 1rem auto;
  text-align: center;
  border-radius: 0.5rem;
}
