.timeline {
  display: grid;
  align-items: center;

  grid-template-columns:
    [left-text-left] 1fr [left-text-right]
    2% [seg-1] 3% [seg-2] 4% [seg-3] 3% [seg-4] 2%
    [left-block-left] 3% [left-block-middle] 3% [left-block-right]
    3% [middle-line] 3%
    [right-block-left] 3% [right-block-middle] 3% [right-block-right]
    2% [seg-5] 3% [seg-6] 4% [seg-7] 3% [seg-8] 2%
    [right-text-left] 1fr [right-text-right];
  grid-template-rows:
    [current summer-2023] 1fr [spring-2023] 0.5fr [midfall-2022] 0.5fr
    [fall-2022] 0.5fr [midsummer-2022] 0.5fr [summer-2022] 0.5fr [midspring-2022] 0.5fr [spring-2022] 0.5fr [midfall-2021] 0.5fr
    [fall-2021] 0.5fr [midsummer-2021] 0.5fr [summer-2021] 0.5fr [midspring-2021] 0.5fr [spring-2021] 0.5fr [midfall-2020] 0.5fr
    [fall-2020] 0.5fr [midsummer-2020] 0.5fr [summer-2020] 0.5fr [midspring-2020] 0.5fr [spring-2020] 0.5fr [midfall-2019] 0.5fr
    [fall-2019] 0.5fr [midsummer-2019] 0.5fr [summer-2019] 0.5fr [midspring-2019] 0.5fr [spring-2019] 0.5fr [midfall-2018] 0.5fr
    [fall-2018] 0.5fr [midsummer-2018] 0.5fr [summer-2018] 0.5fr [midspring-2018] 0.5fr [spring-2018] 0.5fr [midfall-2017] 0.5fr
    [fall-2017];
}

.timeline > hr.centerline {
  width: 2px;
  height: 100%;
  border: none;
  margin: 0 auto;

  grid-column: left-block-right / right-block-left;
  grid-row: current / fall-2017;
  background: white;
  opacity: 20%;
}

.timeline > .dot {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 0;
  grid-column: left-block-right / right-block-left;

  border-radius: 1px 1px;
  height: 5px;
  width: 20px;
}

.timeline-text {
  grid-row: current / fall-2017; /* inheriting row to not shift main grid */
  height: 100%;
  width: 100%;
  align-self: start;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.timeline-text.multi {
  display: grid;
  grid-template-rows: 50%;
  gap: 0;
}

.timeline-text.left {
  grid-column: left-text-left / left-text-right;
  align-items: right;
  text-align: right;
}

.timeline-text.right {
  grid-column: right-text-left / right-text-right;
  align-items: left;
  text-align: left;
}

.timeline-year-text {
  text-align: center;
  grid-column: left-block-right / right-block-left;
  font-size: 0.75rem;
  max-height: 2rem;
  margin-bottom: 0.75rem;
  margin-top: 0;
}

.timeline-block {
  background-color: transparent;
  height: calc(100% - 0.25rem);
  width: calc(100% - 0.25rem);
  margin: auto;
  border-radius: 5px;
  opacity: 0.5;
}

.timeline-block.one {
  grid-column: left-block-left / left-block-middle;
}

.timeline-block.two {
  grid-column: left-block-middle / left-block-right;
}

.timeline-block.three {
  grid-column: right-block-left / right-block-middle;
}

.timeline-block.four {
  grid-column: right-block-middle / right-block-right;
}

.timeline-diag {
  position: relative;

  height: 100%;
  width: 100%;
}

.timeline-diag.left {
  grid-column: seg-2 / seg-3;
}

.timeline-diag.right {
  grid-column: seg-6 / seg-7;
}

hr.timeline-segment {
  margin-top: 0;
  margin-bottom: auto;
  width: 100%;
  height: 0.75px;
  background-color: white;
  border: none;
  opacity: 100%;
}

hr.timeline-segment.secondary {
  background-color: #4fd1c5;
}

.timeline-segment.left-left {
  grid-column: seg-1 / seg-2;
}
.timeline-segment.left-right {
  grid-column: seg-3 / seg-4;
}

.timeline-segment.right-right {
  grid-column: seg-7 / seg-8;
}
.timeline-segment.right-left {
  grid-column: seg-5 / seg-6;
}

line.timelineBar {
  stroke: white;
  stroke-width: 1px;
}

line.timelineBar.secondary {
  stroke: #4fd1c5;
}

#LHR_text:hover ~ #LHR {
  opacity: 100%;
  border: 1.5px solid white;
}
#J2:hover ~ #J2 {
  opacity: 100%;
  border: 1.5px solid white;
}
#J1:hover ~ #J1 {
  opacity: 100%;
  border: 1.5px solid white;
}
#TREL_text:hover ~ #TREL {
  opacity: 100%;
  border: 1.5px solid white;
}
#CMS:hover ~ #CMS {
  opacity: 100%;
  border: 1.5px solid white;
}
#FTC:hover ~ #FTC {
  opacity: 100%;
  border: 1.5px solid white;
}

#Inventory:hover ~ #Inventory {
  opacity: 100%;
  border: 1.5px solid white;
}

#PMCL:hover ~ #PMCL {
  opacity: 100%;
  border: 1.5px solid white;
}

#Apptronik:hover ~ #Apptronik {
  opacity: 100%;
  border: 1.5px solid white;
}

@media only screen and (max-width: 768px) {
  .timeline-year-text, .dot, .timeline-diag, .timeline-segment, .timeline-block, .centerline {
    display: none;
  }

  .timeline {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .timeline-text {
    align-items: left !important;
    text-align: left !important;
    
    background-color: #1f2937;
    padding: 1.5rem;

    border-radius: 0.75rem;
  }


  .timeline-text.multi {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}