@import url("https://fonts.googleapis.com/css?family=Exo");

/*
Color Scheme
Background colors: #1A202C
White: #FAF9F9
Teal: #81E5D9, lighter: #4FD1C5
Gray: #2D313D, lighter: #40444F
*/

:root {
  -webkit-font-smoothing: antialiased;
  --color-background: #1a202c;
  --color-navbar: #1a202c;
  --color-text: #faf9f9;
  --color-primary: #81e5d9;
  --color-primary-hover: #4fd1c5;
  --color-secondary: #2d313d;
  --color-secondary-hover: #40444f;
}

body {
  background-color: var(--color-background);
}

div {
  margin: auto;
  font-family: Exo;
}

main {
  max-width: 1200px;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  color: var(--color-text);
}

/* remove scroll */

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
}

/* index page */

.intro {
  width: 100%;
  padding: 2rem 3rem;
  z-index: 1;
}
.header {
  padding-top: 75px;
  font-weight: 800;
  color: var(--color-primary);
  transition: 0.4s;
}
.portrait {
  border-radius: 20%;
  float: right;
}
.subtitle {
  width: 50%;
  margin-top: 50px;
  font-size: 30px;
  font-weight: 300;
  text-decoration: none;
  color: var(--color-text);
  transition: 0.4s;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.5, 0.15, 0.5, 0.85);
  margin-top: 5px;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

/* footer */

.footer {
  text-align: center;
  width: 100%;
  font-size: 20px;
  margin-bottom: 1rem;
}

/* nav bar */

nav {
  width: 100%; /* ensure navbar spans entire screen */
  margin: 0 0 1rem 0;
  padding: 1ex 0;
  transition: 0.4s;
  opacity: 0.95;
  background-color: var(--color-background);
  position: fixed; /* sticky navbar */
  top: 0;
  z-index: 2;
}

.nav-text {
  margin-top: -2rem;
  padding-top: 1.5ex;
  display: inline-block;
}

.logo {
  float: left;
  margin-top: -2rem;
}

nav ul {
  max-width: 1200px;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

nav li {
  float: right;
  transition: 0.4s;
}

hr.one {
  border: none;
  max-width: 600px;
  margin: 2rem auto;
  height: 2px;
  background: var(--color-text);
}

nav li a {
  padding-right: 1rem;
  padding-left: 1rem;
  color: var(--color-text);
  font-size: 28px;
  font-weight: 300;
  cursor: pointer;
  transition: 0.4s;
  text-decoration: none;
}

nav li:hover {
  transform: scale(1.05);
}

/* sketchy redundant fix, can't figure out why Link sometimes doesnt change its color */
nav a:hover {
  color: var(--color-primary);
}

.hyperlink {
  text-decoration: none;
  color: var(--color-text);
}

.underline {
  text-decoration: underline;
}

.hyperlink:hover {
  color: var(--color-primary);
}
