@import '../styles/fonts.css';


:root {
    -webkit-font-smoothing: antialiased;
    --color-background: #292929;
    --color-background-inverse: #c7c7c7;
    --color-input: #292929;
    --color-surface: #292929;
    --color-text: #c7c7c7;
    --color-title: #c7c7c7;
    --color-title-inverse: #292929;
    --color-primary: #0eaaaa;
    --color-secondary: #098181;
    --hr: #c7c7c7;
}


.container {
    margin: auto;
    max-width: 700px;
    font-family: Arvo;
}

.heading{
    color: var(--color-secondary);
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-link-item {
    padding-right: 2rem;
}
.nav-link-text {
    color: var(--color-title-inverse);
}
.site-title{
    font-size: 3rem;
    color: var(--color-primary);
    font-weight: 600;
    margin: 2rem 0;
}