/*
Color Scheme
Background colors: #1A202C, #1D283A
White: #FAF9F9
Teal: #81E5D9, lighter: #4FD1C5
Gray: #2D313D, lighter: #40444F
*/

:root {
  -webkit-font-smoothing: antialiased;
  --color-background: #1a202c;
  --color-background-secondary: #1d283a;
  --color-navbar: #1a202c;
  --color-text: #faf9f9;
  --color-primary: #81e5d9;
  --color-primary-hover: #4fd1c5;
  --color-secondary: #2d313d;
  --color-secondary-hover: #40444f;
}

.container {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  margin: auto;

  font-family: Exo;
  color: var(--color-text);
}

body {
  margin: 0;
  padding: 0;
  height: 100%;

  background-color: var(--color-background);
}

main {
  max-width: 1200px;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;

  color: var(--color-text);
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;

  padding: 2rem 2rem;
  z-index: 1;
  min-height: calc(100vh - 90px - 100px);
}

h1 {
  font-size: 2.5rem;
  font-weight: 800;

  color: var(--color-primary);
  transition: 0.4s;
}

p {
  font-size: 1.25rem;
  font-weight: 300;
}

.fa-adj {
  width: 100%;
  margin-top: -50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  width: 50px;

  color: var(--color-primary);

  animation-name: appear;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
@keyframes appear {
  0% {
    opacity: 0%;
  }
  30% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
.fa-adj:hover {
  color: var(--color-text);
}

/* Timeline (Home Page) */

.section {
  width: 100%;
  background-image: linear-gradient(
    var(--color-background-secondary),
    var(--color-background)
  );
}

/* this is not a future-proof way of doing this. */
.timeline {
  max-width: 1200px;
  margin: 0 auto;

  display: grid;
  min-height: 1000px;
  align-items: center;
  padding: 2rem 2rem;
  margin-top: 4rem;

  grid-template-columns:
    [left-text-left] 1fr [left-text-right] 5% [left-block-left] 3% [left-block-right] 2% [middle-line] 2%
    [right-block-left] 3% [right-block-right] 5% [right-text-left] 1fr [right-text-right];
  grid-template-rows:
    [top-title] 100px [bottom-title] 0.5fr [current] 1fr [fall-2021] 1fr [summer-2021] 1fr [spring-2021] 1fr
    [fall-2020] 1fr [summer-2020] 1fr [spring-2020] 1fr
    [fall-2019] 1fr [summer-2019] 1fr [spring-2019] 1fr
    [fall-2018];
  row-gap: 5px;
}

.timeline::before {
  content: "";
  width: 2px;
  background: pink;
  grid-row: current / fall-2018;
  grid-column-start: middle-line;
  justify-self: center;
}

.timeline-title {
  text-align: center;
  grid-column-start: left-text-left;
  grid-column-end: right-text-right;
  grid-row-start: top-title;
}

hr.time-line {
  width: 2px;
  height: 100%;
  border: none;

  grid-column-start: middle-line;
  grid-row: current / fall-2018;
  background: white;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: var(--color-text);
}

.timeline-block {
  background-color: var(--color-primary);
  height: 100%;
  width: 100%;
  border-radius: 0.2rem;
  opacity: 0.5;
}

.timeline-block.FTC {
  grid-column: right-block-left / right-block-right;
  grid-row: spring-2020 / fall-2018;
  background: red;
}
.timeline-block.Jacobi1 {
  grid-column: left-block-left / left-block-right;
  grid-row: summer-2019 / fall-2019;
  background: royalblue;
}
.timeline-block.CMS {
  grid-column: right-block-left / right-block-right;
  grid-row: spring-2020 / summer-2021;
  background: white;
}
.timeline-block.Jacobi2 {
  grid-column: left-block-left / left-block-right;
  grid-row: summer-2021 / fall-2021;
  background: royalblue;
}

.timeline-block.LHR {
  grid-column: left-block-left / left-block-right;
  grid-row: fall-2021 / current;
  background: #bf5700;
}
.timeline-block.TREL {
  grid-column: right-block-left / right-block-right;
  grid-row: fall-2021 / current;
  background: black;
}

.timeline-text {
}

.timeline-block:hover,
.timeline-text:hover {
}

/* Intro (Home Page) */

.intro-grid {
  display: grid;
  grid-template-columns: [first] 5% [left-text] 50% [right-text] auto [left-image] 35% [right-image];
  grid-template-rows: [top-image] 100px [top-title] 80px [top-subtitle] auto [bottom-image];
}

.intro-portrait {
  border-radius: 20%;

  grid-column-start: left-image;
  grid-column-end: right-image;

  grid-row-start: top-image;
  grid-row-end: bottom-image;
}

.intro-title {
  grid-column-start: left-text;
  grid-column-end: right-text;

  grid-row-start: top-title;
}

.intro-subtitle {
  grid-column-start: left-text;
  grid-column-end: right-text;

  grid-row-start: top-subtitle;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.5, 0.15, 0.5, 0.85);
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

/* Footer */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;

  text-align: center;
}

/* Navbar */

nav {
  width: 100%;
  position: fixed;
  margin: 0;
  padding: 10px 0;
  top: 0;

  opacity: 0.95;
  background-color: var(--color-background);
  z-index: 2;
}

.nav-list {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
}

.nav-text {
  order: 1;
  margin-right: 2rem;
}

.nav-logo {
  margin-right: auto;
  margin-left: -1rem;
}

.nav-line {
  width: 100%;
  margin-left: 5rem;
  margin-right: 5rem;
}

hr.navline {
  height: 2px;
  background: var(--color-text);
  border: none;
}

nav li a {
  color: var(--color-text);
  font-size: 1.75rem;
  font-weight: 300;
  transition: 0.4s;
  text-decoration: none;
}

/* Animation */

.nav-logo {
  transition: 0.4s;
}

.nav-logo:hover {
  transform: scale(1.1);
}

.hyperlink {
  text-decoration: none;
  color: var(--color-text);
  transition: 0.4s;
}

a:hover {
  color: var(--color-primary);
}

/* Utility */

.underline {
  text-decoration: underline;
}

.absolute {
  position: absolute;
}
.relative {
  position: relative;
}

.left {
  float: left;
}
.right {
  float: right;
}
.anchor {
  padding-top: 40px; 
  margin-top: -40px;
}
/* Remove Scroll */

html {
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0;
}
