/* Navbar */

nav {
    width: 100%;
    position: fixed;
    margin: 0;
    padding: 10px 0;
    top: 0;
  
    opacity: 0.9;
    background-color: var(--color-background);
    z-index: 2;
  }
  
  .nav-list {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
  
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
  }
  
  .nav-text {
    order: 1;
    margin-right: 2rem;
  }
  
  .nav-logo {
    margin-right: auto;
    margin-left: -1rem;
  }
  
  .nav-line {
    width: 100%;
    margin-left: 5rem;
    margin-right: 5rem;
  }
  
  hr.navline {
    height: 2px;
    background: var(--color-text);
    border: none;
  }
  
  nav li a {
    color: var(--color-text);
    font-size: 1.75rem;
    font-weight: 300;
    transition: 0.4s;
    text-decoration: none;
  }
  
  /* Animation */
  
  .nav-logo {
    transition: 0.4s;
  }
  
  .nav-logo:hover {
    transform: scale(1.1);
  }