.timeline {
  max-width: 1200px;
  margin: 0 auto;

  display: grid;
  height: 900px;

  align-items: center;
  padding: 2rem 2rem;
  margin-top: 4rem;

  grid-template-columns:
    [left-text-left] 1fr [left-text-right]
    2% [seg-1] 3% [seg-2] 5% [seg-3] 3% [seg-4] 2%
    [left-block-left] 3% [left-block-right]
    75px [middle-line] 75px
    [right-block-left] 3% [right-block-right]
    2% [seg-5] 3% [seg-6] 5% [seg-7] 3% [seg-8] 2%
    [right-text-left] 1fr [right-text-right];
  grid-template-rows:
    [top-title] 100px [bottom-title] 0.5fr
    [current spring-2022 item-1] 0.5fr [midfall-2021] 0.5fr
    [fall-2021] 0.5fr [midsummer-2021] 0.5fr [summer-2021] 1fr [spring-2021] 0.5fr [midfall-2020] 0.5fr
    [fall-2020 item-2] 0.5fr [midsummer-2020] 0.5fr [summer-2020] 1fr [spring-2020] 1fr
    [fall-2019] 0.5fr [midsummer-2019] 0.5fr [summer-2019 item-3] 1fr [spring-2019] 1fr
    [fall-2018] 0.5fr [midsummer-2018] 0.5fr [summer-2018] 1fr [spring-2018 item-4] 1fr
    [fall-2017];
}

.timeline-title {
  text-align: center;
  grid-column-start: left-text-left;
  grid-column-end: right-text-right;
  grid-row-start: top-title;
}

.timeline > hr.time-line {
  width: 2px;
  height: 100%;
  border: none;
  margin: 0 auto;

  grid-column: left-block-right / right-block-left;
  grid-row: current / fall-2017;
  background: var(--color-text);
}

.timeline > .dot {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 0;
  grid-column: left-block-right / right-block-left;

  border-radius: 1px 1px;
  height: 5px;
  width: 20px;

  background-color: var(--color-primary);
}

.timeline-text {
  height: 225%;
  align-self: start;
}

.timeline-text.left {
  grid-column: left-text-left / left-text-right;
  align-items: right;
  text-align: right;
}

.timeline-text.right {
  grid-column: right-text-left / right-text-right;
  align-items: left;
  text-align: left;
}

.timeline-year-text {
  text-align: center;
  grid-column: left-block-right / right-block-left;
  max-height: 30px;
  margin-bottom: 10px;
  margin-top: 0;
}

.timeline-block {
  background-color: var(--color-primary);
  height: calc(100% - 0.25rem);
  width: 100%;
  border-radius: 0.2rem;
  opacity: 0.5;
}

.timeline-block.left {
  grid-column: left-block-left / left-block-right;
}

.timeline-block.right {
  grid-column: right-block-left / right-block-right;
}

.timeline-diag {
  position: relative;

  height: 100%;
  width: 100%;
}

.timeline-diag.left {
  grid-column: seg-2 / seg-3;
}

.timeline-diag.right {
  grid-column: seg-6 / seg-7;
}

.timeline-segment {
  margin-top: 0;
  margin-bottom: auto;

  height: 0.75px;
  color: var(--color-text);
  opacity: 85%;
}

.timeline-segment.left-left {
  grid-column: seg-1 / seg-2;
}
.timeline-segment.left-right {
  grid-column: seg-3 / seg-4;
}

.timeline-segment.right-right {
  grid-column: seg-7 / seg-8;
}
.timeline-segment.right-left {
  grid-column: seg-5 / seg-6;
}

line.timelineBar {
  stroke: var(--color-text);
  stroke-width: 1px;
}

.highlight:hover {
  opacity: 100%;
}

#LHR:hover ~ #LHR {
  opacity: 100%;
}
#J2:hover ~ #J2 {
  opacity: 100%;
}
#J1:hover ~ #J1 {
  opacity: 100%;
}
#TREL:hover ~ #TREL {
  opacity: 100%;
}
#CMS:hover ~ #CMS {
  opacity: 100%;
}
#FTC:hover ~ #FTC {
  opacity: 100%;
}
